<p id="notice"><%= notice %></p>


<p>
  <%= image_tag @user.image_url.to_s, :size => "300x300" %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.nickname %>
</p>


<%= link_to 'Back', posts_path %> |
<%= link_to 'Logout', logout_path %>