<p id="notice"><%= notice %></p>

<div class="col-sm-4">
  <%= image_tag @user.image_url.to_s, :size => "200x200" %>
  <!--<%= link_to 'Back', posts_path %> |
  <%= link_to 'Logout', logout_path %><br>-->

  <div class="nickname">
    <strong>@<strong>
    <%= @user.nickname %>
  </div>
  <div class="profile">
    <p>
      普段は業務系SE<br>
      N予備校つまづいたことを主に記事に<br>
      してます<br>
      社内向けハイブリッドアプリ開発と<br>初心者エンジニア向けSNSも作成中
    </p>
    <p>
      https://twitter.com/watuyo_2?lang=ja
    </p>
    <p>
      某Sier
    <p>
      Tokyo
    </p>
    <p>
      プロフィールを編集する
    </p>
  </div>
</div>

<!--<div class="nickname">
  <button type="button" class="btn btn-primary btn-lg" onClick="window.open('https://twitter.com/watuyo_2')">Twitter: <%= @user.nickname %></button>
  <button type="button" class="btn btn-primary btn-lg" onClick="window.open('https://github.com/tsu2626')">GitHub</button>
  <button type="button" class="btn btn-primary btn-lg" onClick="window.open('https://qiita.com/watuyo_2')">Qita</button>
</div>

<div id="social-platforms">
<a class="btn btn-icon btn-twitter" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
<a class="btn btn-icon btn-github" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>

</div>-->

<div class="col-sm-6">
  <div class="thumbnail_body">
    <% @posts.each do |post| %>
      <div class="thumbnail">
        <div class="caption">
          <tr>
            <h3><td><%= post.name %></td></h3>
            <img src="https://3.bp.blogspot.com/-Ry6vO39I-V8/V0QnsGpAd1I/AAAAAAAA6_Q/saDTyYYTJUo6xc7GfSdTki58xzFkkGGvQCLcB/s800/website_normal.png"　width="294.14" height="308">
            <!--<td><%= image_tag post.image_url.to_s, :size => "300x200" %></td>--><br>
            <td class=""><%= post.body %></td>    
          </tr><br>
          <%= link_to '詳細', post, :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>