<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
	<table>
			<tbody>
				
					<div class="field">
						<tr>
							<th><%= form.label :TOP画像, class:"image_label" %></th>
							<td><%= form.file_field :image, class:"image" %></td>
						</tr>	
					</div>
				
				
				<tr>
					<div class="field">
						<th><%= form.label :サービス名 %></th>
						<td><%= form.text_field :name, id: :post_name %></td>
					</div>
				</tr>
				
				<tr>
					<div class="field">
						<th><%= form.label :どんなサービス？ %></th>
						<td><%= form.text_area :body, id: :post_body %></td>
					</div>
				</tr>
				
				<tr>
					<div class="field">
						<th><%= form.label :どんな技術が使われている？ %></th>
						<td><%= form.text_area :tec,size: "20×10",id: :post_tec %></td>
					</div>
				</tr>
				
				<tr>
					<div class="field">
						<th><%= form.label :どこがオススメ？ %></th>
						<td><%= form.text_area :point, id: :post_point %></td>
					</div>
				</tr>
				
				<tr>
					<div class="field">
						<th><%= form.label :LINK %></th>
						<td><%= form.text_area :link, id: :post_link %></td>
					</div>
				</tr>	
				
				<tr>
					<div class="actions">
						<th></th>
						<td><%= form.submit %></td>
					</div>
				</tr>
		</tbody>
	</table>				
<% end %>
