<p id="notice"><%= notice %></p>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-6">
      <div class="thumbnail">
          <div class="caption">
            <tr>
              <h3><td><%= post.name %></td></h3>
              <td><%= image_tag post.image_url.to_s, :size => "300x200" %></td><br>
              <td><%= post.body %></td>    
            </tr><br>
          <%= link_to '詳細', post, :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
 <% end %>
</div>


<!--<table>

	<a class="side_by_side">
  <thead　class="list">
    <tr>
      <th>サービス名</th>
      <th>TOP画像</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
	</a>

<br>
