<p id="notice"><%= notice %></p>

<p  class="name">
  <strong></strong>
  <a><%= @post.name %></a>
</p>
<div class="edit">
	<%= link_to 'Edit', edit_post_path(@post) %>
</div>
<div class="edit">
	<%= link_to 'Delete', @post, method: :delete, data: { confirm: '本当に削除しますか?' } %>
</div>

<div class="image_body_outer">
	<div class="image_body">
		<p class="image">
			<strong></strong>
			<%= image_tag @post.image.to_s, :size => "300x200" %>
		</p>	
	</div>
</div>

<div class="Overview">
	<div class="tec_point_link">
		
		<p class="body">
			<strong>概要:</strong>
			<%= simple_format(@post.body) %>
		</p>
		<p>
			<strong>技術、言語:</strong>
			<%= simple_format(@post.tec) %>
		</p>

		<p>
			<strong>おすすめ:</strong>
			<%= simple_format(@post.point) %>
		</p>

		<p>
			<strong>リンク:</strong>
			<a href="<%= @post.link %>"><%= @post.link %></a>
		</p>
	</div>
</div>

<div class="back">
	<%= link_to 'Back', posts_path %>
</div>
