<p id="notice"><%= notice %></p>

<p  class="name">
  <strong></strong>
  <a><%= @post.name %></a>
</p>

<div class="image_body">
	<p class="image">
		<strong></strong>
		<%= image_tag @post.image_url.to_s, :size => "300x200" %>
	</p>	
	<p class="body">
		<strong></strong>
		<%= @post.body %>
	</p>
	<p>
		<strong>id:</strong>
		<%= @post.user_id %>
	</p>
</div>

<div class="tec_point_link">
	<p>
		<strong>Tec:</strong>
		<%= @post.tec %>
	</p>

	<p>
		<strong>Point:</strong>
		<%= @post.point %>
	</p>

	<p>
		<strong>Link:</strong>
		<%= @post.link %>
	</p>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
