<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<link rel="stylesheet" href="../../../app/assets/stylesheets/posts.css">
  <body>
		<div class="header">
 			<li><a href=""><img src=""></a></li>
			<li class="title"><h1>Engineer SNS</h1></li>
			<div class="keyword">
				<form action="" method="">
					<li><input type="search" name="search" placeholder="キーワードを入力"></li>
					<li><input type="submit" name="submit" value="検索"></li>
				</form>
			</div>
			<div class="head">
				<li><input type="button" value="コミュニティ一覧" onclick=""><li>
<!--				<li><input type="button" value="投稿する" onclick=""></li>-->
				<li><%= link_to '投稿する', new_post_path %></li>
			</div>
		</div>
		<div class="sideBar" align="right">
			<a href=""><img src=""></a>
			
				<label for="Panel1">トレンド</label>
				<input type="checkbox" id="Panel1" class="on-off" checked/>
<!--					<li class="like"><a href="#trend">トレンド</a>-->
					<ul>
						<li>aaa</li>
					</ul>
			
				<label for="Panel2">お気に入り</label>
				<input type="checkbox" id="Panel2" class="on-off" checked/>
<!--				<li class="like"><a href="#like">お気に入り</a>-->
					<ul>
						<li>aaa</li>
					</ul>
				
				<label for="Panel3">タグフィード</label>
				<input type="checkbox" id="Panel3" class="on-off" checked/>
<!--				<li class="tagFeed"><a href="#tagFeed">タグフィード</a></li>-->
					<ul>
						<li>aaa</li>
					</ul>
		
				<label for="Panel4">ユーザアクセスランキング</label>
				<input type="checkbox" id="Panel4" class="on-off" checked/>		
<!--				<li class="userAccess"><a href="#userAccess">ユーザーアクセスランキング
</a>-->
					<ul>
						<li>aaa</li>
					</ul>
		
				<label for="Panel5">タグランキング</label>
				<input type="checkbox" id="Panel5" class="on-off" checked/>
<!--				<li class="tagRank"><a href="#tagRank">タグランキング</a>-->
					<ul>
						<li>aaa</li>
					</ul>
		</div>
		<main>
    	<%= yield %>
		</main>
		<div class="clear"></div>
  </body>
</html>
